doctype 5
html
  head
    title= title
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    link(rel='stylesheet', href='/stylesheets/style-mobile.css')
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  body
    block content